@charset "UTF-8";

@font-face {
    font-family: 'idroid';
    src: url('fontes/idroid.otf') format('opentype');
    font-style: normal;
    font-weight: normal;
}

body {
    background-color: #c5ebd6;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px 0px;
}

a {
    color: #066d06;
    text-decoration: none;
    font-weight: bold;
}

main a::after {
    content: '\1F517';
}

strong {
    color: #066d06;
}

nav {
    background-color: #0a520a;
    padding: 4px;
    padding-left: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.37);
}

nav > a {
    text-align: left;
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 15px;
}

nav > a:hover {
    background-color: #29ff2979;
    border: 3px solid transparent;
    color: #0a520a;
    border-radius: 5px;
    transition-duration: 0.2s;
}

header {
    background-image: linear-gradient(to top, #045004, #0958098c);
    color: white;
    font-weight: normal;
    text-align: center;
    height: 150px;
    padding: 20px 0px 15px 0px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.37);
}

header > h1{
    margin-top: 0px;
    padding: 5px 0px 8px 0px;
    font-size: 2em;
}

header > p {
    font-size: 1.2em;
    text-align: center;
    max-width: 500px;
    margin: auto;
    padding: 0px 5px 0px 5px;
}

h1#noticia {
    font-family: 'idroid';
    color: #066d06;
    font-size: 2em;
    margin: 0px;
    font-weight: normal;
}

main {
    background-color: white;
    padding: 10px 10px;
    min-width: 320px;
    max-width: 800px;
    margin: auto;
    margin-bottom: 15px; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.507);
    border-radius: 0px 0px 10px 10px;
}

main a:hover {
    text-decoration: underline;
}

p {
    text-indent: 20px;
    text-align: justify;
    line-height: 1.5em;
}

img {
    width: 100%;
}

.center {
    display: block;
    margin: auto;
    width: 50%;
}

.font {
    font-family: 'idroid';
    color: #066d06;
    background-image: linear-gradient(to right, #11b31170, transparent);
    font-weight: normal;

}

div.video {
    background-color: #073d07da;
    position: relative;
    padding-bottom: 56.3%;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: #21b8429d;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.39);
}

aside > h1 {
    background-color: #066d06d7;
    color: white;
    padding: 5px;
    border-radius: 10px 10px 0px 0px;
    margin: -10px -10px 0px -10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.37);
}

aside > ul {
    /*list-style-position: inside;*/
    columns: 2;
    list-style-type: '\2714\00A0\00A0';
}

footer {
    background-color: #005500;
    color: white;
    text-align: center;
    padding: 5px;
    margin: 2px;
}

span {
    font-weight: bold;
}

footer > p {
    margin: 0px;
}